<!DOCTYPE html>
<html>
<head>
  <title>SampleAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <br />
  <div>
    <b><%= flash[:success] %></b>
    <b><%= flash[:danger] %></b>
    <!-- only one flash message will be displayed -->
  </div>

<%= yield %>

  <!-- an empty div to display debug params further down the page -->
  <div style="height:200px"></div>
  <!-- question: is this even acceptable? -->

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
